.navbar {
  width: 100%;
  margin-top: 0px;
}

.nav_button {
    color: #FFF;
}

.nav_button:hover {
    color: bisque
}

.navlist {
    list-style: none;
    display: flex ;
    justify-content: space-around;
    background-color: black;
    padding: 0.5rem;
  }