#root {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
}

.top_header {
  width: 100%;
}

.product_list {
  margin: auto;

}

.login_info {
  color: rgb(18, 4, 68);
  padding: 0px;
  margin: 0px auto;
}

.categorySorter{
  height: 50px;
  margin: auto;
  border-style: solid;
  border-color: #242424;
}